In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pl
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

# regroupment les 4 fichiers de chaque année depuis 2016 au 2021

In [6]:
usagers_2016 = pd.read_csv("usagers_2016.csv",delimiter=",")
vehicules_2016 = pd.read_csv("vehicules_2016.csv",delimiter=",")
lieux_2016 = pd.read_csv("lieux_2016.csv", delimiter=",")
caracteristiques_2016 = pd.read_csv("caracteristiques_2016.csv",delimiter=",")

C:\Users\arnoa\AppData\Local\Temp\ipykernel_17916\819307994.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2016 = pd.read_csv("lieux_2016.csv", delimiter=",")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 211: invalid continuation byte

# Nous détectons un problème pour 'lire' les fichiers xls ou csv, problème de séparateur de colonne ';' ou ',', ou les encodages, aussi la différence de la quantité des colonnes, et l'ordre de placement des colonnes, aussi le format des données par colonnes est différent dans les fichiers d'années différentes... donc tous cela faut prendre en consideration dans le processus de regroupement de plusueurs data sets

In [14]:
usagers_2016_ = pd.read_csv("usagers_2016.csv",delimiter=",")

In [15]:
usagers_2020 = pd.read_csv("usagers-2020.csv",delimiter=";")
usagers_2019 = pd.read_csv("usagers-2019.csv",delimiter=";")
usagers_2018 = pd.read_csv("usagers-2018.csv",delimiter=";")
usagers_2017 = pd.read_csv("usagers-2017.csv",delimiter=";")
usagers_2016 = pd.read_csv("usagers_2016.csv",delimiter=";")

In [16]:
usagers_2016_

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0,201600000001,1.0,1,1,2,0.0,11.0,0.0,0.0,0.0,1983.0,B02
1,201600000001,1.0,1,3,1,9.0,21.0,0.0,0.0,0.0,2001.0,A01
2,201600000002,1.0,1,3,1,5.0,11.0,0.0,0.0,0.0,1960.0,A01
3,201600000002,2.0,2,3,1,0.0,11.0,0.0,0.0,0.0,2000.0,A01
4,201600000002,3.0,2,3,2,0.0,11.0,0.0,0.0,0.0,1962.0,A01
...,...,...,...,...,...,...,...,...,...,...,...,...
133417,201600059431,1.0,1,4,1,0.0,21.0,0.0,0.0,0.0,1994.0,A01
133418,201600059431,1.0,1,4,1,0.0,21.0,0.0,0.0,0.0,1990.0,B01
133419,201600059432,1.0,1,4,1,3.0,21.0,0.0,0.0,0.0,1967.0,A01
133420,201600059432,2.0,2,4,1,0.0,21.0,0.0,0.0,0.0,1967.0,A01
133421,201600059432,1.0,1,1,1,0.0,11.0,0.0,0.0,0.0,1981.0,B01

In [17]:
usagers_2016

       Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0                201600000001,1,1,1,2,0,11,0,0,0,1983,B02
1                201600000001,1,1,3,1,9,21,0,0,0,2001,A01
2                201600000002,1,1,3,1,5,11,0,0,0,1960,A01
3                201600000002,2,2,3,1,0,11,0,0,0,2000,A01
4                201600000002,3,2,3,2,0,11,0,0,0,1962,A01
...                                                   ...
133417           201600059431,1,1,4,1,0,21,0,0,0,1994,A01
133418           201600059431,1,1,4,1,0,21,0,0,0,1990,B01
133419           201600059432,1,1,4,1,3,21,0,0,0,1967,A01
133420           201600059432,2,2,4,1,0,21,0,0,0,1967,A01
133421           201600059432,1,1,1,1,0,11,0,0,0,1981,B01

[133422 rows x 1 columns]

In [18]:
usagers_2017

       Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0                201700000001,1,1,3,1,9,13,0,0,0,1968,B01
1                201700000001,2,2,3,2,9,11,0,0,0,1973,B01
2                201700000001,1,1,3,1,1,13,0,0,0,1967,A01
3                201700000002,1,1,1,1,0,11,0,0,0,1953,A01
4                201700000002,1,1,3,1,5,22,0,0,0,1960,B01
...                                                   ...
136016           201700060699,1,1,1,2,9,11,0,0,0,1974,B01
136017           201700060700,1,1,1,2,9,11,0,0,0,1987,A01
136018           201700060700,1,1,4,1,9,21,0,0,0,1991,B01
136019           201700060700,2,2,4,2,9,21,0,0,0,1990,B01
136020           201700060701,1,1,4,1,1,21,0,0,0,1992,A01

[136021 rows x 1 columns]

In [19]:
usagers_2018

       Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0                201800000001,1,1,3,1,0,11,0,0,0,1928,B01
1                201800000001,1,1,1,1,5,11,0,0,0,1960,A01
2                201800000002,1,1,1,1,0,11,0,0,0,1947,A01
3                  201800000002,,3,4,1,0,2,2,3,1,1959,A01
4                201800000003,1,1,3,1,5,21,0,0,0,1987,A01
...                                                   ...
130164             201800057781,,3,4,1,9,3,4,3,1,1975,A01
130165              201800057782,1,1,4,2,9,11,,,,1993,A01
130166              201800057782,1,1,4,1,9,21,,,,1974,B01
130167              201800057783,1,1,4,1,9,11,,,,1973,B01
130168              201800057783,1,1,4,2,9,11,,,,1990,A01

[130169 rows x 1 columns]

In [20]:
usagers_2019

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,201900000001,138 306 524,B01,2,2,4,2,2002,0,1,0,-1,-1,-1,-1
1,201900000001,138 306 524,B01,1,1,4,2,1993,5,1,0,-1,-1,-1,-1
2,201900000001,138 306 525,A01,1,1,1,1,1959,0,1,0,-1,-1,-1,-1
3,201900000002,138 306 523,A01,1,1,4,2,1994,0,1,0,-1,-1,-1,-1
4,201900000003,138 306 520,A01,1,1,1,1,1996,0,1,0,-1,-1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132972,201900058837,137 982 135,C01,1,1,4,2,1988,1,1,0,-1,-1,-1,-1
132973,201900058838,137 982 132,A01,1,1,4,1,1998,9,1,0,-1,-1,-1,-1
132974,201900058839,137 982 131,A01,1,1,3,1,1979,0,2,0,-1,-1,-1,-1
132975,201900058840,137 982 129,B01,1,1,4,1,1974,0,1,0,-1,-1,0,-1
132976,201900058840,137 982 130,A01,1,1,1,1,1971,0,1,-1,-1,0,0,-1

In [21]:
usagers_2020

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202000000001,154 742 274,B01,1,1,1,1,1983,5,1,0,-1,-1,-1,-1
1,202000000001,154 742 275,A01,1,1,3,1,1982,5,2,6,-1,-1,-1,-1
2,202000000002,154 742 273,A01,1,1,1,1,1997,1,8,0,-1,-1,-1,-1
3,202000000002,154 742 273,A01,10,3,4,1,1967,5,0,-1,-1,3,3,1
4,202000000003,154 742 271,B01,1,1,1,1,1985,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105290,202000047743,154 658 351,B01,4,2,4,1,2011,5,1,0,-1,0,0,-1
105291,202000047743,154 658 351,B01,1,1,4,2,1981,5,1,0,-1,0,0,-1
105292,202000047743,154 658 352,A01,1,1,4,1,1998,9,1,0,-1,0,0,-1
105293,202000047744,154 658 350,A01,1,1,1,1,1967,9,2,0,-1,-1,-1,-1
105294,202000047744,154 658 350,A01,10,3,4,2,1963,5,0,-1,-1,3,3,1

In [18]:
caracteristiques_2016 = pd.read_csv("caracteristiques_2016.csv",delimiter=",", encoding = "ISO-8859-1")
caracteristiques_2017 = pd.read_csv("caracteristiques-2017.csv",delimiter=",", encoding = "ISO-8859-1")
caracteristiques_2018 = pd.read_csv("caracteristiques-2018.csv",delimiter=",", encoding = "ISO-8859-1")
caracteristiques_2019 = pd.read_csv("caracteristiques-2019.csv",delimiter=";")
caracteristiques_2020 = pd.read_csv("caracteristiques-2020.csv",delimiter=";")
carcteristiques_2021 =pd.read_csv("carcteristiques-2021.csv",delimiter=";")

In [6]:
caracteristiques_2016 = pd.read_csv("caracteristiques_2016.csv",delimiter=",", encoding = "ISO-8859-1")

In [11]:
caracteristiques_2017 = pd.read_csv("caracteristiques-2017.csv",delimiter=",", encoding = "ISO-8859-1")

In [21]:
caracteristiques_2016

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201600000001,16,2,1,1445,1,2,1,8,3.0,5,"46, rue Sonneville",M,0.0,0.0,590
1,201600000002,16,3,16,1800,1,2,6,1,6.0,5,1a rue du cimetière,M,0.0,0.0,590
2,201600000003,16,7,13,1900,1,1,1,1,6.0,11,NaN,M,0.0,0.0,590
3,201600000004,16,8,15,1930,2,2,1,7,3.0,477,52 rue victor hugo,M,0.0,0.0,590
4,201600000005,16,12,23,1100,1,2,3,1,3.0,11,rue Joliot curie,M,0.0,0.0,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59427,201600059428,16,12,1,1201,1,2,1,1,6.0,611,passamanty-Vahib ( rout,NaN,NaN,NaN,976
59428,201600059429,16,12,3,2215,1,2,1,1,7.0,611,mamoudzou centre-Adrian,NaN,NaN,NaN,976
59429,201600059430,16,12,5,1710,1,2,1,1,3.0,611,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976
59430,201600059431,16,12,6,1005,1,2,3,1,3.0,611,kaweni-Kaweni nord ( Z I,NaN,NaN,NaN,976
59431,201600059432,16,12,24,635,1,2,6,1,3.0,611,kaweni-Kaweni sud (Z I),NaN,NaN,NaN,976

In [22]:
caracteristiques_2017

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201700000001,17,1,11,1820,5,2,1,1.0,1.0,477,rue nationale,M,5051326.0,292191.0,590
1,201700000002,17,2,13,1630,1,2,3,1.0,3.0,5,5 rue sonneville,M,5053611.0,295314.0,590
2,201700000003,17,3,7,1150,1,2,9,1.0,5.0,52,rue Jules Guesde,M,5052174.0,288786.0,590
3,201700000004,17,4,22,1300,1,2,1,1.0,6.0,5,46 rue Sonneville,M,5053723.0,295700.0,590
4,201700000005,17,5,20,1230,1,2,1,1.0,2.0,11,Rue roger salengro,M,5052999.0,293798.0,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60696,201700060697,17,11,19,1030,1,2,1,1.0,6.0,611,"1, tsoundzou-Baraka (rue",Y,1280703.0,4520703.0,976
60697,201700060698,17,11,25,624,1,1,6,1.0,7.0,611,"1, mamoudzou centre-Adri",Y,1278296.0,4523434.0,976
60698,201700060699,17,11,26,1745,2,2,1,1.0,3.0,611,"1, tsoundzou-Abdallah So",Y,1280711.0,4520617.0,976
60699,201700060700,17,11,28,1405,1,2,1,1.0,3.0,611,"1, kaweni-Kaweni nord (",Y,1276210.0,4522609.0,976
60700,201700060701,17,11,30,1939,3,2,1,1.0,6.0,611,tsoundzou-Stara (rue),Y,1281342.0,4520169.0,976

# voir caracterustique de la ligne precise 60696 de la data fram

In [26]:
caracteristiques_2017.iloc[60696]

Num_Acc                201700060697
an                               17
mois                             11
jour                             19
hrmn                           1030
lum                               1
agg                               2
int                               1
atm                             1.0
col                             6.0
com                             611
adr        1, tsoundzou-Baraka (rue
gps                               Y
lat                       1280703.0
long                      4520703.0
dep                             976
Name: 60696, dtype: object

In [27]:
print(caracteristiques_2017['adr'])

0                   rue nationale
1                5 rue sonneville
2                rue Jules Guesde
3               46 rue Sonneville
4              Rue roger salengro
                   ...
60696    1, tsoundzou-Baraka (rue
60697    1, mamoudzou centre-Adri
60698    1, tsoundzou-Abdallah So
60699     1, kaweni-Kaweni nord (
60700       tsoundzou-Stara (rue)
Name: adr, Length: 60701, dtype: object

# voir un élément dans le colonne d'adresse et une ligne precise

In [28]:
print(caracteristiques_2017.loc[60696, 'adr'])

1, tsoundzou-Baraka (rue

In [23]:
caracteristiques_2018

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201800000001,18,1,24,1505,1,1,4,1.0,1.0,5,route des Ansereuilles,M,5055737.0,294992.0,590
1,201800000002,18,2,12,1015,1,2,7,7.0,7.0,11,Place du général de Gaul,M,5052936.0,293151.0,590
2,201800000003,18,3,4,1135,1,2,3,1.0,7.0,477,Rue nationale,M,5051243.0,291714.0,590
3,201800000004,18,5,5,1735,1,2,1,7.0,3.0,52,30 rue Jules Guesde,M,5051974.0,289123.0,590
4,201800000005,18,6,26,1605,1,2,1,1.0,3.0,477,72 rue Victor Hugo,M,5051607.0,290605.0,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57778,201800057779,18,12,15,1050,1,2,1,1.0,6.0,611,passamanty-Sada ( rue de,Y,1280217.0,4521356.0,976
57779,201800057780,18,12,16,610,2,2,1,1.0,3.0,611,mamoudzou centre-Command,Y,1278120.0,4523436.0,976
57780,201800057781,18,12,22,2150,5,2,1,1.0,6.0,611,kaweni-SPPM ( rue de la,Y,1276930.0,4522409.0,976
57781,201800057782,18,12,23,1945,5,2,1,1.0,1.0,611,cavani-Kavani sud ( rue,Y,1278622.0,4522036.0,976
57782,201800057783,18,12,28,1425,1,2,1,1.0,1.0,611,m'tsapere-Nationale 2 (r,Y,1278943.0,4522408.0,976

# On cherche un élément presis dans tout ma data frame. ici il n'y a pas de ce élément '1, tsoundzou-Baraka (rue'

In [29]:
result = caracteristiques_2018.loc[caracteristiques_2018['adr'] == '1, tsoundzou-Baraka (rue']
print(result)

Empty DataFrame
Columns: [Num_Acc, an, mois, jour, hrmn, lum, agg, int, atm, col, com, adr, gps, lat, long, dep]
Index: []

In [19]:
caracteristiques_2019

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000"
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502"
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,"45,6666600","5,0561200"
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,8,4,Autoroute A.35,"48,5769000","7,7269000"
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,1,6,AUTOROUTE A6A,"48,7717000","2,3457600"
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,1,7,A86 EXT,"48,7772890","2,2237590"
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,1,2,A13,"48,8351236","2,1751101"

# On cherche un élément dans la data frame en utilisant une méthode map et une fonction "lambda" :

In [31]:
# Charger la dataframe 'caracteristiques_2018'
#caracteristiques_2018 = pd.read_csv('chemin_vers_fichier/caracteristiques_2018.csv', encoding='utf-8')

# Chercher l'élément 'Margo'
result = caracteristiques_2018.applymap(lambda x: x == 'Margo')

# Afficher les lignes qui contiennent l'élément 'Margo'
print(result.any(axis=1))

0        False
1        False
2        False
3        False
4        False
         ...
57778    False
57779    False
57780    False
57781    False
57782    False
Length: 57783, dtype: bool

In [20]:
caracteristiques_2020

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202000000001,7,3,2020,16:55,1,91,91657,2,3,1,3,HENRI BARBUSSE (AVENUE),"48,7053500","2,4384100"
1,202000000002,7,3,2020,08:35,2,91,91657,2,9,7,6,MOUSSEAUX(CHEMIN),"48,6900000","2,4100000"
2,202000000003,7,3,2020,13:30,1,91,91174,2,2,1,3,CARNOT(AVENUE),"48,6106700","2,4758200"
3,202000000004,7,3,2020,18:50,5,91,91215,2,1,1,6,VICTOR HUGO (AVENUE),"48,6978200","2,5244600"
4,202000000005,7,3,2020,11:00,1,77,77181,1,6,1,2,LAGNY (RUE DE ) - D35,"48,8286457","2,7059707"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47739,202000047740,30,11,2020,07:50,1,13,13028,2,1,1,4,PUITS DE BRUNET (CHEMIN DU),"43,1865750","5,6003810"
47740,202000047741,30,11,2020,17:00,2,06,06083,2,1,9,3,CASTAGNINS (ROUTE DES),"43,7799570","7,4818980"
47741,202000047742,1,12,2020,10:00,1,06,06069,2,1,1,5,MADELEINE,"43,6571157","6,9337155"
47742,202000047743,28,11,2020,11:45,1,05,05061,1,1,1,2,Bernard GIVAUDAN (Avenue) D900B,"44,5406800","6,0641900"
47743,202000047744,18,11,2020,17:44,4,05,05061,2,1,1,6,JEAN MACE ( RUE ),"44,5614810","6,0740270"

In [24]:
carcteristiques_2021

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,"49,4083800000","1,1458100000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,1,2021,06:10,3,33,33021,1,1,5,6,NaN,"44,5266190000","-0,1955440000"
56514,202100056515,1,1,2021,10:20,1,38,38405,1,1,2,6,D520,"45,3802910000","5,7049140000"
56515,202100056516,1,1,2021,18:00,3,26,26064,1,1,2,1,Route départementale 538,"44,9112100000","5,0196360000"
56516,202100056517,1,1,2021,10:55,1,33,33003,1,2,1,6,Voie rapide Bassens Ambes,"44,9542747363","-0,5179211363"
56517,202100056518,2,1,2021,18:00,3,78,78423,1,1,3,1,VOLTA (AVENUE),"48,7966700000","2,0505000000"

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201700000001,17,1,11,1820,5,2,1,1.0,1.0,477,rue nationale,M,5051326.0,292191.0,590
1,201700000002,17,2,13,1630,1,2,3,1.0,3.0,5,5 rue sonneville,M,5053611.0,295314.0,590
2,201700000003,17,3,7,1150,1,2,9,1.0,5.0,52,rue Jules Guesde,M,5052174.0,288786.0,590
3,201700000004,17,4,22,1300,1,2,1,1.0,6.0,5,46 rue Sonneville,M,5053723.0,295700.0,590
4,201700000005,17,5,20,1230,1,2,1,1.0,2.0,11,Rue roger salengro,M,5052999.0,293798.0,590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60696,201700060697,17,11,19,1030,1,2,1,1.0,6.0,611,"1, tsoundzou-Baraka (rue",Y,1280703.0,4520703.0,976
60697,201700060698,17,11,25,624,1,1,6,1.0,7.0,611,"1, mamoudzou centre-Adri",Y,1278296.0,4523434.0,976
60698,201700060699,17,11,26,1745,2,2,1,1.0,3.0,611,"1, tsoundzou-Abdallah So",Y,1280711.0,4520617.0,976
60699,201700060700,17,11,28,1405,1,2,1,1.0,3.0,611,"1, kaweni-Kaweni nord (",Y,1276210.0,4522609.0,976
60700,201700060701,17,11,30,1939,3,2,1,1.0,6.0,611,tsoundzou-Stara (rue),Y,1281342.0,4520169.0,976

In [ ]:
usagers = pd.read_csv("usagers_2016.csv",delimiter=";")
vehicules = pd.read_csv("vehicules-2021.csv",delimiter=";")
lieux = pd.read_csv("lieux-2021.csv", delimiter=";")
caracteristiques = pd.read_csv("carcteristiques-2021.csv",delimiter=";")

In [ ]:
usagers = pd.read_csv("usagers_2016.csv",delimiter=";")
vehicules = pd.read_csv("vehicules-2021.csv",delimiter=";")
lieux = pd.read_csv("lieux-2021.csv", delimiter=";")
caracteristiques = pd.read_csv("carcteristiques-2021.csv",delimiter=";")

In [ ]:
usagers = pd.read_csv("usagers_2016.csv",delimiter=";")
vehicules = pd.read_csv("vehicules-2021.csv",delimiter=";")
lieux = pd.read_csv("lieux-2021.csv", delimiter=";")
caracteristiques = pd.read_csv("carcteristiques-2021.csv",delimiter=";")

In [ ]:
df_2016= 
df_2017=
df_2018=
df_2019=
df_2020=
df_2021=

# J'ai 4 fichiers csv: usagers, vehicules, lieux, caracteristiques, par chaque année 2016-2021 donc 24 fichirs au total, à present, pour gagner du temps, je vais passer en aplication excel ou libre office calc pour traiter=formater ces fichiers, il y a surment des methodes automatisées pour regroupper pluseurs fichiser des formats differants dans un seul evitant des eurreures... mais je ne connait pas encore ces methodes s'ils existent. Et donc traiter les 20 fichiers un par un me prendra bcp trop du temps .